<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>top.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A9FE611E1C703E4500FF58C6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A9FE61321C703E4600FF58C6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A9FE613D1C703E4600FF58C6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
